/* COLORS */
:root {
    --theme-dark: #3e4533;
    --theme-light: #feffff;
    --theme-accent: #e1e2a0;
}

/* GLOBAL */
body {
    background: var(--theme-dark);
    color: var(--theme-light);
}

/* SIDEBAR */
.sidebar {
    background: var(--theme-dark);
    color: var(--theme-light);
}
.sidebar a {
    color: var(--theme-light);
}
.sidebar a:hover,
.sidebar .active {
    background: var(--theme-accent);
    color: var(--theme-dark);
}

/* NAVBAR */
.navbar {
    background: var(--theme-dark);
}
.navbar .nav-link {
    color: var(--theme-light) !important;
}
.navbar .nav-link:hover {
    color: var(--theme-accent) !important;
}

/* CARDS */
.card {
    background: var(--theme-light);
    color: var(--theme-dark);
    border: none;
}
.card h5 {
    color: var(--theme-dark);
}

/* TABLE */
.table {
    color: var(--theme-light);
}
.table th {
    background: var(--theme-dark);
    color: var(--theme-accent);
}
.table td {
    background: #404737;
}

/* BUTTONS */
.btn-primary {
    background: var(--theme-accent);
    color: var(--theme-dark);
    border: none;
}
.btn-primary:hover {
    background: #d4d596;
}
