<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{{ title|default('Le Discerner') }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/app.css">

    {% for css in extraCss|default([]) %}
        <link rel="stylesheet" href="{{ css }}">
    {% endfor %}
</head>
<body>
{% include 'partials/navbar.html.twig' %}

<main>
    {% block content %}{% endblock %}
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

{% for js in extraJs|default([]) %}
    <script src="{{ js }}"></script>
{% endfor %}

{% block inline_javascripts %}{% endblock %}
</body>
</html>
